name: SwiftLint

on:
  pull_request:
    paths:
      - '**/*.swift'
      - '.swiftlint.yml'
  push:
    branches: [ main, master ]
    paths:
      - '**/*.swift'
      - '.swiftlint.yml'

jobs:
  swiftlint:
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install SwiftLint
        run: |
          brew update
          brew install swiftlint

      - name: Run SwiftLint
        run: |
          swiftlint --version
          swiftlint --strict --config .swiftlint.yml

